<template>
  <CustomButton @click="myAlert()"></CustomButton>
</template>

<script>
import CustomButton from "./CustomButton.vue";

export default {
  components: {
    CustomButton
  },
  methods: {
    myAlert() {
      alert("Button clicked!");
    }
  }
};
</script>
