<template>
  <div
    @click="onClick()"
  >
    {{text}}
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: "Vue Button"
    };
  },
  methods: {
    onClick() {
      this.$emit("click");
    }
  }
};
</script>
