<template>
  <div class="monthly-calendar">
    <div class="monthly-calendar__header">
      {{yearText}}{{monthText}}
    </div>

    <div class="monthly-calendar__table">
      <div class="monthly-calendar__table-header-cell" v-for="(day, index) in dayList" :key="`day-${index}`">
        {{day}}
      </div>

      <div v-for="(date, index) in dateList" :key="`date-${index}`">
        <div class="monthly-calendar__table-cell-header">
          {{date}}
        </div>

        <div class="monthly-calendar__table-cell-body">
          ほげほげ
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

const momentObj = moment();

export default {
  data() {
    return {
      dayList: ["月", "火", "水", "木", "金", "土", "日"],
      year: this.defaultYear,
      monthIndex: this.defaultMonthIndex
    };
  },
  props: {
    defaultYear: {
      type: Number,
      default: momentObj.year()
    },
    defaultMonthIndex: {
      type: Number,
      default: momentObj.month()
    }
  },
  computed: {
    yearText() {
      return `${this.year}年`;
    },
    monthText() {
      return `${this.monthIndex + 1}月`;
    },
    dateList() {
      // カレンダーの左上の日付の00:00:00
      const startOfMonthTableMomentObj = moment({
        year: this.year,
        month: this.monthIndex
      })
        .startOf("month")
        .startOf("isoWeek");

      // カレンダーの右下の日付の23:59:59
      const endOfMonthTableMomentObj = moment({
        year: this.year,
        month: this.monthIndex
      })
        .endOf("month")
        .endOf("isoWeek");

      return [...Array(42)]
        .map((value, index) => {
          return startOfMonthTableMomentObj.clone().add(index, "days");
        })
        .filter(moment => {
          return moment.isBefore(endOfMonthTableMomentObj);
        })
        .map(moment => moment.date());
    }
  }
};
</script>
