.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

.grid__header {
  grid-area: header;
}

.grid__aside {
  grid-area: aside;
}

.grid__main {
  grid-area: main;
}

.grid__footer {
  grid-area: footer;
}
