.monthly-calendar {
  width: 100%;
  height: 100%;
  background: var(--white);
}

.monthly-calendar__table {
  display: grid;
  grid-template-columns: repeat(7, minmax(80px, 1fr));
  overflow: auto;
}

.monthly-calendar__table-header-cell {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.monthly-calendar__table-cell-header {
  display: flex;
  justify-content: center;
  background: #eee;
}

.monthly-calendar__table-cell-body {
  padding: 1em;
}
